<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6">
      <h1>Animations</h1>
      <button class="btn btn-primary mr-2" (click)="onAnimate()">Animate!</button>
      <button class="btn btn-primary mr-2" (click)="onShrink()">Shrink!</button>
      <hr>
      <div style="width: 100px; height: 100px;" [@divState]="state">

      </div>
      <hr>
      <div style="width: 100px; height: 100px;" [@wildDivState]="wildState">

      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6">
      <input type="text" #input class="form-control">
      <button class="btn btn-primary mt-2" (click)="onAdd(input.value)">Add Item!</button>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of list" (click)="onDelete(item)" [@list1]>
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-6">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let item of list" (click)="onDelete(item)">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</div>